@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #c9daea;
  color: #292c35;
  transition: background-color 0.3s linear;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

button {
  background-color: #292c35;
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 50px;
  width: 90px;
  font-weight: 700;
}

button:hover {
  transition: background-color 0.3s linear;
  background-color: #45267e;
}

button.dark {
  background-color: #c9daea;
  color: #292c35;
}

button.dark:hover {
  transition: background-color 0.3s linear;
  background-color: #8e94d2;
}

.header,
.main {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* HEADER */
.header {
  padding: 2% 10%;
}

.header h1 {
  margin: 0;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background: #292c35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  border-radius: 50px;
  transition: background-color 0.1s linear;
}

.checkbox:checked + .label {
  background: #c9daea;
}

.ball {
  width: 22px;
  height: 22px;
  background: #8e94d2;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.bi-sun-fill {
  color: #f39c12;
}

.bi-moon-fill {
  color: #f1c40f;
}

.main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 40px;
}

/* LEADERBOARD */
.leaderboard-header {
  display: flex;
  justify-content: space-between;
}

.refresh-btn {
  height: 50%;
  align-self: center;
}

.leaderboard {
  border: 2px solid black;
  border-radius: 5px;
  height: 456px;
  overflow: auto;
  background-color: #fff;
  color: black;
}

.leaderboard-list {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 20px;
}

/* FORM */
.score-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit-btn {
  align-self: flex-end;
}
